body{
padding:10px;
margin: 0;
}

h1{
  color: skyblue;
  text-align: center;
  border: 6px dotted #dbdbdb;
  padding: 8px;
  font-family: Palatino;
}
.part2{
color: skyblue;
  text-align: center;
  font-size: 20px;
  }

/*-- DATA COLLECTION SECTION--*/

#collection-section{
  height: 300px; 
  width: 1238px;
  background: white;
}

.collection-header{
font-family: garamond;
border: 2px dotted #dbdbdb;
padding: 10px;
width: 200px;
margin-right: 818px;
margin-left: 100px;
}

.collection-container{
height:300px;
width: 400px;
background: #ffffff;
float: left;
}

.collection-text{
height:270px;
width:640px;
font-family: garamond;
position: relative;
margin-left:50px;
margin-right: 50px;
padding: 15px;
background: #adadeb;
float: left;
}

.collection-container iframe{
height: 300px;
width: 400px;
position: relative;
float: left;
}


/*-- MYSVG SECTION--*/
#my-svg-section{ 
  Height: 385px;
  width:1238px;
  margin-top: 100px;
  background: white;
  font-family: garamond;
}

.svg-header{
border: 2px dotted #dbdbdb;
padding: 10px;
font-family: garamond;
width: 110px;
margin-left: 948px;
}
.my-svg-text{
height:270px;
width:640px;
position:relative;
margin-left: 50px;
margin-right: 50px;
float:right;
background: #b3ccff;
padding: 15px;
}

.my-svg-image{
height: 300px;
width: 275px;
position: relative;
float:right;
margin-left: 50px;
border: 1px solid black;
}

.larger-svg{
height: 100px;
width: 500px;
position: relative;
margin-left: 518px;
}

/*-- EXPLAINED SECTION--*/

#explained-section{
  Height: 370px;
  width:1238px;
  background: white;
}

.video-container{
height:300px;
width: 400px;
float:left;
position: relative;
margin-left:50px;
background: #ffffff;
}

.explained-header{
font-family: garamond;
border: 2px dotted #dbdbdb;
padding: 10px;
width: 280px;
margin-right: 918px;
margin-left: 100px;
}

.explained-text{
height:270px;
width:640px;
font-family: garamond;
position: relative;
margin-left:50px;
background: #c3cde6;
float:left;
padding: 15px;
}
.video-container iframe{
position: relative;
float: left;
height: 300px;
width: 400px;
}

/*MEDIA STYLES*/
@media screen and (min-width:1080px) {
  #collection-section
  #explained-section {
    grid-template-columns: 40% 1fr;
  }
  #collection-section {
    grid-template-columns: 1fr 40%;
  }
}

/*FOOTER*/

#footer {
font-family: garamond;
margin-left: 30px
margin-right: 20px;
padding: 15px;
background: aliceblue;
display: grid;
margin-top: 20px;
}

.footer-header{
font-family: garamond;
border: 2px dotted #dbdbdb;
padding: 10px;
width: 200px;
margin-right: 818px;
margin-left: 15px;
}

 /*I hate github*/







